body {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 4000px;
}

h2 {
  color: #007765;
  font-weight: 500;
  font-size: 67px;
  text-align: center;
  padding-bottom: 16px;
  line-height: 70px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}

.header {
  height: 84px;
  background: #007765;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  width: 500px;
  justify-content: space-around;
  user-select: none;
}

.nav_item {
  cursor: pointer;
}

.underHeader {
  background: url(image.jpg);
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: top;
  background-size: cover;
  mix-blend-mode: normal;
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pipernet_is_here {
  color: white;
  font-weight: 500;
  font-size: 70px;
  line-height: 84px;
}

.The_Problem {
  width: 100%;
  background-color: #eeeeee;
}

.Problem_paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 92px;
}

.text_container {
  width: 50%;
}

.text_container p {
  margin-top: 20px;
}

.hero-2 {
  background: url(hero-2.png);
  background-position: top;
  background-size: cover;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-2text {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  width: 50%;
  margin-top: 128px;
  margin-bottom: 127px;
}

.PPCLogo {
  margin-right: 48px;
}

.Introducing_PPC {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding-top: 48px;
}

.PPClogo_p {
  display: flex;
}

.Introducing_PPC p {
  margin-top: 20px;
}

.the-team {
  background: #eeeeee;
  margin-top: 92px;
  padding-top: 58px;
}

.team-cards {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member-card {
  text-align: center;
  width: 350px;
  height: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyrights {
  /* margin-top: 57px; */
  background: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrights-text {
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 62px;
}
